@media ( max-width: 600px ) {
	.oo-ui-widget.oo-ui-widget-enabled.oo-ui-floatableElement-floatable.oo-ui-popupWidget {
		position: fixed;
		bottom: 0 !important;
		left: 0 !important;
		width: 100% !important;
		top: auto !important;
		margin-bottom: 0 !important;
	}

	.oo-ui-popupWidget-popup {
		width: 100% !important;
		height: 100% !important;
	}

	.oo-ui-popupWidget-body.oo-ui-clippableElement-clippable {
		max-width: 100% !important;
		width: 100% !important;
		overflow-x: hidden !important;
	}

	.oo-ui-popupWidget-anchored .oo-ui-popupWidget-anchor,
	.oo-ui-popupWidget-anchor {
		display: none !important;
	}

	.wl-pageInfoWidget-wikipedia .wl-pageInfoWidget-content-ready .wl-pageInfoWidget-box:first-child .wl-pageInfoWidget-view-title {
		font-size: 1.2em;
		margin-left: 50px;
	}

	.wl-pageInfoWidget-box:last-child {
		/* Image */
		width: 30% !important;
	}
}
